body {
  background: whitesmoke;
  font-family: "Verdana","Geneva","sans-serif";
}

#root {
  padding: 10px 3px 0 0;
  margin: 10px auto;
  border-radius: 10px;
  .board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    perspective: 1000px;
    margin-bottom: -15px;
    .card {
      width: 15%;
      user-select: none;
      height: 88px;
      padding: 10px;
      box-sizing: border-box;
      text-align: center;
      margin-bottom:15px;
	    transition: 0.6s;
	    transform-style: preserve-3d;
	    position: relative;
      div {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        transition: 0.6s;
        background: #f4f5f7; 
      }
      .front { 
        font-size: 50px;
        line-height: 120px;
        cursor: pointer;
        color: darken(#f4f5f7,20%);
        display:flex;
        justify-content: center;
        align-items: center;
        //background: -webkit-linear-gradient(to top, #FFFFFF, #ECE9E6); 
        //background: linear-gradient(to top, #FFFFFF, #ECE9E6);
      }
      .back {
        transform: rotateY(180deg);
        line-height: 86px;
        img {
          vertical-align: middle;
          align-self: center;
          width: 80%;
          max-height: 90%;
          height: auto;
        }
      }
      &.opened {
        transform: rotateY(180deg);
      }
      &.matched {
        transform: rotateY(180deg);
        .back {
          box-shadow: 0 0 0 2px rgba(#000,.05) inset;
          animation: selected .8s 0s ease 1;
          animation-fill-mode: both;
          opacity: .2;
         }
      }
    }
  }
}

@keyframes selected {
  0% {
    opacity:.2;
  }
  30% {
    opacity:.5;
  }
  50% {
    opacity:.9;
  }
  70% {
    opacity:.2;
  }
  100% {
    opacity:.3;
  }
}